<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">/var/www/logs/sample_spring_ldap</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        
        <RollingFile
    		name="LogToFile"
    		fileName="${APP_LOG_ROOT}/application.log"
     		filePattern="${APP_LOG_ROOT}/application.%d{dd-MMM}.log.zip"
    		ignoreExceptions="false">
    		<PatternLayout>
        		<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
    		</PatternLayout>
    		<Policies>
        		<TimeBasedTriggeringPolicy interval="1"/>
    		</Policies>
    		<DefaultRolloverStrategy max="5" />
		</RollingFile>
 
    </Appenders>
    <Loggers>
 
        <Logger name="com.aeon" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <Logger name="com.aeon" level="error" additivity="false">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <Logger name="com.aeon" level="info" additivity="false">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <Logger name="org.hibernate.type" level="TRACE"/>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
 
        <Root level="error">
        	<AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>